@font-face {
    font-family: GothamRounded;
    src: url("../font/GothamRnd-Light.otf") format("opentype");
}

* { font-family: GothamRounded; font-weight: lighter; }

input:focus, select:focus, textarea:focus, button:focus {
    outline: none;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

textarea {
    resize: none;
    border: 1px solid hsla(199, 19%, 78%, 1);
    border-radius: 4px;
    box-sizing: border-box;
    background-color: hsla(204, 45%, 99%, 1);
    font-size: 14px;
    padding: 14px;
}

textarea.error {
    border: 1px solid hsla(351, 51%, 59%, 1);
    transition: border 0.5s;
}

button.needsResolution {
    background-color: hsla(37, 89%, 64%, 1);
}

button.warning {
    background-color: hsla(351, 51%, 59%, 1);
}

.noselect * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: hsla(204, 45%, 98%, 1);
    color: hsla(215, 41%, 29%, 1);
    overflow: hidden;
}

#react-app {
    height: 100%;
    width: 100%;
    margin: 0;
}

table {
    display: block;
    border-collapse: collapse;
    height: calc(100% - 44px);
    width: 100%;
}

table > tbody {
    display: table;
    overflow: auto;
    max-height: 100%;
    width: 100%;
}

table > tbody > tr {
    display: table-row;
    width: 100%;
    height: 80px;
    border: 1px solid hsla(165, 5%, 83%, 1);
}

table > tbody > tr:hover {
    background-color: hsla(200, 30%, 96%, 1);
}

table > tbody > tr > td {
    padding-left: 10px;
    padding-right: 10px;
}




#roleSelector {
    left: 0;
    height: 40px;
    background-color: hsla(212, 22%, 33%, 1);
    cursor: pointer;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    border-radius: 4px;
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
}

#roleSelector .dropdownIcon {
    margin-left: 6px;
}

#roleSelector:hover, #roleSelector.open {
    opacity: 1;
    background-color: hsla(212, 15%, 52%, 1);
}


#roleSelectorDropdown {
    text-align: center;
    margin-top: 5px;
    border-radius: 4px;
    background-color: hsla(212, 15%, 52%, 1);
    position: absolute;
    z-index: 9999;
    left: 0;
    right: 0;
    padding: 8px;
    padding-top: 0;
}

#roleSelectorDropdown > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#roleSelectorDropdown > ul > li {
    line-height: 1.5em;
    opacity: 0.6;
}

#roleSelectorDropdown > ul > li:hover, #roleSelectoDropdown > ul > li.selected {
    opacity: 1;
}

#roleSelectorDropdown > ul > li.header {
    text-transform: uppercase;
    font-size: 0.6em;
    line-height: 1.5em;
    padding-top: 1.2em;
    opacity: 0.4;
}

.logo {
    width: 38px;
    display: block;
    margin: 0 auto;
    margin-top: 28px;
    margin-bottom: 28px;
}

.commentIcon {
    height: 18px;
    display: block;
    margin: 0 auto;
    padding-bottom: 4px;
}

.commentsPanel {
    width: 100px;
    font-size: 8px;
    text-align: center;
    color: hsla(180, 2%, 75%, 1);
}

.titlePanel {
    width: 400px;
    font-size: 16px;
}

.skillsRequiredPanel {
    font-size: 12px;
}

.projectInfoPanel {
    text-align: center;
    cursor: pointer;
    width: 150px;
}

.projectInfoPanel > span {
    width: 100%;
    display: block;
}

.commentsPanel:hover svg path {
    fill: hsla(212, 22%, 33%, 1);
}

.commentsPanel:hover {
    color: hsla(212, 22%, 33%, 1);
}

.skillsRequiredPanel {
    color: hsla(215, 15%, 67%, 1);
}

.commentsPanel {
    cursor: pointer;
    color: hsla(215, 15%, 67%, 1);
}

.commentsPanel > object {
    margin-top: 30px;
    display: block;
    margin: 0 auto;
}

#app {
    width: 100%;
    height: 100%;
}

#sidebar {
    color: white;
    display: block;
    float: left;
    width: 200px;
    height: 100%;
    background-color: hsla(211, 40%, 13%, 1)
}

#itemHeader.neutral {
    transition: background 1s;
}

#itemHeader.notification {
    transition: background 1s;
    background-color: hsla(212, 22%, 43%, 1);
    color: hsla(210, 29%, 97%, 1);
}

#itemHeader.notification svg path {
    fill: hsla(210, 29%, 97%, 1);
}

#itemHeader.completed {
    transition: background 1s;
    background-color: hsla(166, 43%, 56%, 1);
    color: hsla(210, 29%, 97%, 1);
}

#itemHeader.completed svg path {
    fill: hsla(210, 29%, 97%, 1);
}

#itemHeader.needsResolution {
    transition: background 1s;
    background-color: hsla(37, 89%, 64%, 1);
    text-align: left;
    color: hsla(210, 29%, 97%, 1);
}

#itemHeader.needsResolution svg path {
    fill: hsla(210, 29%, 97%, 1);
}

#itemHeader.needsResolution > button {
    background-color: hsla(37, 84%, 55%, 1);
    float: right;
}

#itemHeader {
    height: 50px;
    width: 100%;
    background-color: hsla(200, 30%, 96%, 1);
    color: hsla(215, 41%, 29%, 1);
    font-size: 16px;
    line-height: 50px;
}


#itemHeader .dropbackIcon {
    display: inline;
    padding: 13px;
    float: left;
}

#itemHeader > .backButton {
    cursor: pointer;
}

#itemHeader > button {
    cursor: pointer;
}

#itemHeader > button.warning {
    background-color: hsla(351, 51%, 59%, 1);
}

#singleItem {
    height: 100%;
    position: relative;
}

#newCommentBox {
    width: 100%;
    bottom: 0;
    position: absolute;
    height: 130px;
    background-color: hsla(204, 45%, 98%, 1);
}

#newCommentBox > textarea {
    margin: 20px;
    margin-bottom: 15px;
    height: calc(100% - 40px);
    width: calc(100% - 40px);
    resize: none;
    border: 1px solid hsla(199, 19%, 78%, 1);
    border-radius: 4px;
    box-sizing: border-box;
    background-color: hsla(204, 45%, 99%, 1);
    float: left;
}

#newCommentBox.inProgress > textarea {
    width: calc(100% - 160px);
}

#newCommentBox > #commentSubmissionButtons {
    width: 100px;
    height: calc(100% - 40px);
    margin-top: 20px;
    margin-bottom: 15px;
    float: left;
    display: inline-block;
}

#newCommentBox > #commentSubmissionButtons > button {
    width: 100%;
    height: calc(50% - 6px);
    text-transform: uppercase;
    border: none;
    color: hsla(204, 45%, 98%, 1);
    border-radius: 4px;
    cursor: pointer;
    margin: 0;
}


#newCommentBox > #commentSubmissionButtons > button:first-of-type {
    margin-bottom: 6px;
    background-color: hsla(166, 43%, 56%, 1);
}

#newCommentBox > #commentSubmissionButtons > button:last-of-type {
    margin-top: 6px;
    background-color: hsla(204, 8%, 88%, 1);
}



#commentList {
    height: calc(100% - 130px - 50px);
    overflow: auto;
}

.comment {
    overflow: auto;
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
}

.comment:first-of-type {
    padding-top: 28px;
}

.comment > .content {
    display: inline;
    float: left;
    width: calc(100% - 50px);
}

.comment > .content > .name {
    display: inline;
    float: left;
    margin: 7px;
}

.comment > .photo {
    float: left;
    display: inline;
    top: 0;
    left: 0;
    bottom: 0;
}

.comment > .photo > img, .comment > .photo > svg {
    padding: 7px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.comment > .content > .date {
    display: inline;
    float: left;
    color: hsla(211, 22%, 73%, 1);
    margin: 7px;
}

.comment > .content > .text {
    display: block;
    float: left;
    margin-left: 7px;
    font-size: 14px;
    width: 100%;
}


#itemHeader > span {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

button {
    background-color: hsla(166, 43%, 56%, 1);
    border: none;
    box-shadow: none;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 14px;
    padding-right: 14px;
    line-height: 16px;
    border-radius: 3px;
    vertical-align: middle;
    margin: 10px;
    font-size: 16px;
    color: hsla(210, 29%, 97%, 1);
    cursor: pointer;
}

button.small {
    font-size: 11px;
}

#itemHeader > button {
    float: right;
}

#ticketSearchBar {
    width: 100%;
    padding: 9px;
    box-sizing: border-box;
    background-color: hsla(200, 30%, 96%, 1);
}

#ticketSearchBar input {
    background-color: hsla(204, 45%, 98%, 1);
}

::-webkit-input-placeholder {
    color: hsla(217, 18%, 81%, 1);
}

#ticketSearchBar > input {
    height: 26px;
    font-size: 14px;
    line-height: 20px;
    padding: 8px;
    box-sizing: border-box;
    width: 100%;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: hsla(0, 0%, 80%, .6);
    background-color: transparent;
}

#viewList {
    font-size: 14px;
    padding-left: 30px;
    padding-top: 50px;
}

.viewIcon {
    width: 40px;
    height: 30px;
    float: left;
}

.viewIcon > img {
    display: block;
    margin: 0 auto;
    height: 20px;
}

.viewSelection {
    float: left;
    width: 100%;
    margin-top: 10px;
    opacity: 0.5;
    cursor: pointer;
}

.viewSelection.selected, .viewSelection:hover {
    opacity: 1;
}

.viewName {
    float: left;
    height: 30px;
    vertical-align: middle;
    line-height: 20px;
}

#sidebarProfile {
    position: absolute;
    bottom: 0;
    width: 200px;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 24px;
    cursor: pointer;
    background-color: hsla(212, 22%, 47%, 1);
}

#currentProfile {
    padding: 8px;
    background-color: hsla(212, 22%, 33%, 1);
}

#profileOptions {
    width: 100%;
}

#sidebarProfile:hover {
    opacity: 1;
}

#profileOptions > ul{
    padding: 0;
    margin: 0;
    height: 0;
    transition: height 0.3s;
    text-align: center;
    list-style-type: none;
}

#profileOptions.open > ul {
    height: 72px;
    transition: height 0.3s;
}

#profileOptions > ul > li {
    padding: 5px;
}


#currentProfile > img, #currentProfile > .profilePicture {
    height: 24px;
    width: 24px;
    padding-right: 8px;
    float: left;
}

#currentProfile > span {
    padding-right: 6px;
    width: 125px;
    float: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/** modal view test **/

#modalView {
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(213, 23%, 28%, 0.9);
    z-index: 9998;
}

#modalDialog {
    position: absolute;
    background-color: hsla(216, 33%, 97%, 1);
    padding-top: 25px;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 5px;
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 6px;
    z-index: 9999;
    min-height: 80px;
    min-width: 400px;
    text-align: center;
}

#modalDialog textarea {
    width: 100%;
    display: block;
    margin: 14px auto 0 auto;
    min-height: 100px;
}

#modalDialog h3 {
    font-size: 24px;
    padding: 0;
    margin: 0;
}

#modalDialog h4 {
    font-size: 14px;
    padding: 0;
    margin: 0;
    opacity: .6;
}

#modalDialog h5 {
    font-size: 11px;
    line-height: 14px;
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
    opacity: .6;
    cursor: pointer;
}

#modalDialog input, #modalDialog button {
    box-shadow: none;
    text-align: center;
    margin-top: 14px;
    margin-bottom: 14px;
}

#modalDialog button {
    min-width: 120px;
    font-size: 12px;
    border-radius: 4px;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 12px;
    padding-bottom: 12px;
}

#modalDialog input {
    height: 54px;
    width: 180px;
    border-radius: 6px;
    background: none;
    border: 1px solid hsla(213, 23%, 28%, 0.5);
    font-size: 22px;
}

#modalDialog .infoOrInput {
    background-color: hsla(212, 22%, 33%, 1);
    color: hsla(210, 29%, 97%, 1);
    text-align: left;
    font-family: "Courier New", Courier, monospace;
    border-radius: 4px;
    padding: 12px;
    font-size: 14px;
    margin-top: 10px;
}

#modalDialog button {
    border: none;
    font-size: 16px;
    text-transform: uppercase;
    color: hsla(210, 29%, 97%, 1);
    cursor: pointer;
}

#modalDialog > #modalClose {
    position: absolute;
    height: 35px;
    width: 35px;
    top: 0;
    left: 0;
    cursor: pointer;
}

#modalDialog > #modalClose > img {
    height: 14px;
    width: 14px;
    padding-top: 12px;
    padding-left: 6px;
    left: 0;
}

/** login box tests **/

#login-background { width: 100%; height: 100%; background-color: hsla(213, 23%, 28%, 1); }
#login-box {
    top: 40%;
    width: 35%;
    min-width: 360px;
    position: relative;
    margin: 0 auto;
    transform: translateY(-40%); -webkit-transform: translateY(-40%);
    border-radius: 4px;
    background-color: #F6F8FA;
    text-align: center;
    box-sizing: border-box;
    padding: 24px;
}
#login-box img {
    height: 50px;
    padding-bottom: 10px;
}
#login-box input, #login-box button {
    width: 85%;
    height: 40px;
    display: block;
    margin: 14px auto;
    border-radius: 3px;
}
#buttons { padding-bottom: 28px; }
#login-box button {
    background-color: hsla(166, 43%, 56%, 1);
    box-shadow: none;
    outline: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: hsla(210, 29%, 97%, 1);
}
#login-box input {
    line-height: 24px;
    font-size: 14px;
    border: 1px solid #cbcbd2;
    color: #4A4A4A;
    padding-left: 12px;
    box-sizing: border-box;
    background-color: transparent;
}
#login-box button:active { opacity: 0.75; transition-duration: 0.2s; }
#login-box input:focus { border: 1px solid #47C8AB; box-shadow: inset 0 1px 2px rgba(203,203,210,0.2),0 0 4px rgba(80,227,194,0.35); outline: none; }

/** scroll shadow tests **/
.top-scroll-shadow {
    box-shadow: inset 0 6px 4px -6px rgba(0,0,0,.22);
}

.bottom-scroll-shadow {
    box-shadow: inset 0 -6px 4px -6px rgba(0,0,0,.22);
}

.top-scroll-shadow.bottom-scroll-shadow {
    box-shadow: inset 0 6px 4px -6px rgba(0,0,0,.22), inset 0 -6px 4px -6px rgba(0,0,0,.22);
}


/** tbody animation test **/
.newComment-enter {
    background-color: hsla(167, 54%, 53%, 0.7);
}

.newComment-enter.newComment-enter-active {
    background-color: transparent;
    transition: background 2.5s ease-out;
}


/** nothing here **/

#nothingHere {
    opacity: 0.5;
    top: 50%;
    width: 100%;
    position: absolute;
    transform: translateY(-50%);
}

#nothingHere > img {
    display: block;
    margin: 0 auto;
}

#nothingHere > span {
    display: block;
    text-align: center;
    margin: 0 auto;
    font-size: 24px;
}

/** Animated spinner **/

.spinner {
    opacity: 0.5;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
}

.spinner > div {
    background-color: #47C8AB;
    width: 7px;
    height: 60px;
    margin-right: 3px;
    display: inline-block;

    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
    20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
    0%, 40%, 100% { transform: scaleY(0.4); -webkit-transform: scaleY(0.4); }
    20% { transform: scaleY(1.0); -webkit-transform: scaleY(1.0); }
}
