@font-face {
    font-family: GothamRounded;
    src: url("/Users/andrewmillspaugh/Downloads/GothamRnd-Light.otf") format("opentype");
}

* { font-family: GothamRounded; font-weight: lighter; }

input:focus, select:focus, textarea:focus, button:focus {
    outline: none;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button,
    -webkit-appearance: none;
    margin: 0;
}

.noselect * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: hsla(204, 45%, 98%, 1);
    color: hsla(215, 41%, 29%, 1);
    overflow: hidden;
}

table {
    display: block;
    border-collapse: collapse;
    height: calc(100% - 44px);
    width: 100%;
}

#roleSelector {
    left: 0;
    height: 40px;
    background-color: hsla(212, 22%, 33%, 1);
    cursor: pointer;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    border-radius: 4px;
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
}

#roleSelector .dropdownIcon {
    margin-left: 6px;
}

#roleSelector:hover, #roleSelector.open {
    opacity: 1;
    background-color: hsla(212, 15%, 52%, 1);
}


#roleSelectorDropdown {
    text-align: center;
    margin-top: 5px;
    border-radius: 4px;
    background-color: hsla(212, 15%, 52%, 1);
    position: absolute;
    z-index: 9999;
    left: 0;
    right: 0;
    padding: 8px;
    padding-top: 0;
}

#roleSelectorDropdown > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#roleSelectorDropdown > ul > li {
    line-height: 1.5em;
    opacity: 0.6;
}

#roleSelectorDropdown > ul > li:hover, #roleSelectoDropdown > ul > li.selected {
    opacity: 1;
}

#roleSelectorDropdown > ul > li.header {
    text-transform: uppercase;
    font-size: 0.6em;
    line-height: 1.5em;
    padding-top: 1.2em;
    opacity: 0.4;
}

.logo {
    width: 38px;
    display: block;
    margin: 0 auto;
    margin-top: 28px;
    margin-bottom: 28px;
}

.findTalentIcon {
    height: 18px;
    display: block;
    margin: 0 auto;
    padding-bottom: 4px;
}

.commentIcon {
    height: 18px;
    display: block;
    margin: 0 auto;
    padding-bottom: 4px;
}

.commentsPanel {
    width: 100px;
    font-size: 8px;
    text-align: center;
    color: hsla(180, 2%, 75%, 1);
}

.titlePanel {
    width: 400px;
    font-size: 16px;
}

.skillsRequiredPanel {
    font-size: 12px;
}

.findTalentPanel {
    width: 80px;
    font-size: 8px;
    text-align: center;
    color: hsla(180, 2%, 75%, 1);
    cursor: pointer;
}

.projectInfoPanel {
    text-align: center;
    cursor: pointer;
    width: 150px;
}

.projectInfoPanel > span {
    width: 100%;
    display: block;
}

.findTalentPanel:hover svg path {
    fill: hsla(167, 54%, 53%, 1)
}

.findTalentPanel.darken svg path {
    fill: hsla(167, 54%, 53%, 1)
}

.findTalentPanel:hover {
    color: hsla(167, 54%, 53%, 1)
}

.findTalentPanel.darken {
    color: hsla(167, 54%, 53%, 1)
}

.commentsPanel:hover svg path {
    fill: hsla(212, 22%, 33%, 1);
}

.commentsPanel:hover {
    color: hsla(212, 22%, 33%, 1);
}

.skillsRequiredPanel {
    color: hsla(215, 15%, 67%, 1);
}

.commentsPanel {
    cursor: pointer;
    color: hsla(215, 15%, 67%, 1);
}

.findTalentPanel > object {
    margin-top: 30px;
    display: block;
    margin: 0 auto;
}

.commentsPanel > object {
    margin-top: 30px;
    display: block;
    margin: 0 auto;
}

tbody {
    display: table;
    overflow: auto;
    max-height: 100%;
    width: 100%;
}

#app {
    width: 100%;
    height: 100%;
}

#sidebar {
    color: white;
    display: block;
    float: left;
    width: 200px;
    height: 100%;
    background-color: hsla(212, 40%, 18%, 1);
}

.mainContent {
    display: block;
    float: left;
    width: calc(100% - 200px);
    height: 100%;
}

#newTicketList, #availableAuctionList {
    overflow: auto;
    width: 100%;
}

.newTicket, .availableAuction {
    display: table-row;
    width: 100%;
    height: 80px;
    border: 1px solid hsla(165, 5%, 83%, 1);
}

.newTicket:hover, .availableAuction:hover {
    background-color: hsla(200, 30%, 96%, 1);
}

#itemHeader {
    height: 50px;
    width: 100%;
    background-color: hsla(200, 30%, 96%, 1);
    color: hsla(215, 41%, 29%, 1);
    font-size: 16px;
    line-height: 50px;
}


#itemHeader .dropbackIcon {
    display: inline;
    padding: 13px;
    float: left;
}

#itemHeader > .backButton {
    cursor: pointer;
}

#itemHeader > button {
    cursor: pointer;
}

#itemHeader > * {
    display: inline;
    float: left;
}

#singleItem {
    height: 100%;
    position: relative;
}

#newCommentBox {
    width: 100%;
    bottom: 0;
    position: absolute;
    height: 130px;
    background-color: hsla(204, 45%, 98%, 1);
}

#newCommentBox > textarea {
    margin: 20px;
    margin-bottom: 15px;
    height: calc(100% - 40px);
    width: calc(100% - 40px);
    resize: none;
    border: 1px solid hsla(199, 19%, 78%, 1);
    border-radius: 4px;
    font-size: 14px;
    padding: 14px;
    box-sizing: border-box;
    background-color: hsla(204, 45%, 99%, 1);
    float: left;
}

#newCommentBox.inProgress > textarea {
    width: calc(100% - 160px);
}

#newCommentBox > #commentSubmissionButtons {
    width: 100px;
    height: calc(100% - 40px);
    margin-top: 20px;
    margin-bottom: 15px;
    float: left;
    display: inline-block;
}

#newCommentBox > #commentSubmissionButtons > button {
    width: 100%;
    height: calc(50% - 6px);
    text-transform: uppercase;
    border: none;
    color: hsla(204, 45%, 98%, 1);
    border-radius: 4px;
    cursor: pointer;
}


#newCommentBox > #commentSubmissionButtons > button:first-of-type {
    margin-bottom: 6px;
    background-color: hsla(166, 43%, 56%, 1);
}

#newCommentBox > #commentSubmissionButtons > button:last-of-type {
    margin-top: 6px;
    background-color: hsla(204, 8%, 88%, 1);
}



#commentList {
    height: calc(100% - 130px - 50px);
    overflow: auto;
}

.comment {
    overflow: auto;
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
}

.comment:first-of-type {
    padding-top: 28px;
}

.comment > .content {
    display: inline;
    float: left;
    width: calc(100% - 50px);
}

.comment > .content > .name {
    display: inline;
    float: left;
    margin: 7px;
}

.comment > .photo {
    float: left;
    display: inline;
    top: 0;
    left: 0;
    bottom: 0;
}

.comment > .photo > img {
    padding: 7px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.comment > .content > .date {
    display: inline;
    float: left;
    color: hsla(211, 22%, 73%, 1);
    margin: 7px;
}

.comment > .content > .text {
    display: block;
    float: left;
    margin-left: 7px;
    font-size: 14px;
    width: 100%;
}


#itemHeader > span {
    float: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: calc(100% - 180px);
}

#itemHeader > button {
    float: right;
    color: white;
    background-color: hsla(166, 43%, 56%, 1);
    border: none;
    box-shadow: none;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 14px;
    padding-right: 14px;
    font-size: 16px;
    line-height: 16px;
    border-radius: 3px;
    vertical-align: middle;
    margin: 10px;
}

#newTicketSearchBar, #availableAuctionSearchBar {
    width: 100%;
    padding: 9px;
    box-sizing: border-box;
    background-color: hsla(200, 30%, 96%, 1);
}

#newTicketSearchBar input, #availableAuctionSearchBar input {
    background-color: hsla(204, 45%, 98%, 1);
}

::-webkit-input-placeholder {
    color: hsla(217, 18%, 81%, 1);
}

#newTicketSearchBar > input, #availableAuctionSearchBar > input {
    height: 26px;
    font-size: 14px;
    line-height: 20px;
    padding: 8px;
    box-sizing: border-box;
    width: 100%;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: hsla(0, 0%, 80%, .6);
    background-color: transparent;
}

#viewList {
    font-size: 14px;
    padding-left: 30px;
    padding-top: 50px;
}

.viewIcon {
    padding-left; 30px;
    width: 30px;
    height: 30px;
    float: left;
}

.viewSelection {
    float: left;
    width: 100%;
    margin-top: 10px;
    opacity: 0.5;
    cursor: pointer;
}

.viewSelection.selected, .viewSelection:hover {
    opacity: 1;
}

.viewName {
    float: left;
    height: 30px;
    vertical-align: middle;
    line-height: 20px;
}

#sidebarProfile {
    position: absolute;
    bottom: 0;
    font-size: 14px;
    padding: 10px;
    opacity: 0.8;
    line-height: 24px;
    cursor: pointer;
}

#sidebarProfile:hover {
    opacity: 1;
}

#sidebarProfile > img {
    height: 24px;
    width: 24px;
    padding-right: 6px;
    float: left;
}

#sidebarProfile > span {
    padding-right: 6px;
    width: 125px;
    float: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/** modal view test **/

#modalView {
    position: absolute;
    right: 0;
    width: calc(100% - 200px);
    height: 100%;
    background-color: hsla(213, 23%, 28%, 0.9);
    z-index: 9998;
}

#modalDialog {
    position: absolute;
    background-color: hsla(216, 33%, 97%, 1);
    padding: 25px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-60%);
    border-radius: 6px;
    z-index: 9999;
    min-height: 80px;
    min-width: 400px;
    text-align: center;
}

#modalDialog h3 {
    font-size: 24px;
    padding: 0;
    margin: 0;
}

#modalDialog h4 {
    font-size: 14px;
    padding: 0;
    margin: 0;
    opacity: .6;
}

#modalDialog input[type=number] {
    height: 54px;
    width: 180px;
    border-radius: 6px;
    font-size: 22px;
    box-shadow: none;
    background: none;
    border: 1px solid hsla(213, 23%, 28%, 0.5);
    text-align: center;
    margin-top: 20px;
}

#modalDialog > #modalClose {
    position: absolute;
    height: 35px;
    width: 35px;
    top: 0;
    left: 0;
    cursor: pointer;
}

#modalDialog > #modalClose > img {
    height: 14px;
    width: 14px;
    padding-top: 12px;
    padding-left: 6px;
    left: 0;
}


/** tbody animation test **/
.newComment-enter {
    background-color: hsla(167, 54%, 53%, 0.7);
}

.newComment-enter.newComment-enter-active {
    background-color: transparent;
    transition: background 2.5s ease-out;
}



/** Animated spinner **/

.spinner {
    margin: 200px auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
}

.spinner > div {
    background-color: #47C8AB;
    width: 7px;
    height: 60px;
    margin-right: 3px;
    display: inline-block;

    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
    20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
    0%, 40%, 100% { transform: scaleY(0.4); -webkit-transform: scaleY(0.4); }
    20% { transform: scaleY(1.0); -webkit-transform: scaleY(1.0); }
}
