.comment .text > p {
    margin: 0;
}

.comment .text code {
    display: block;
    background-color: #EBF0F2;
    box-sizing: border-box;
    width: calc(100% - 20px);
    overflow-x: scroll;
    padding: 10px;
    margin: 10px;
    border-radius: 4px;
}

.comment .text code,
.comment .text code * {
    font-family: "Courier New", Courier, monospace;
}

.comment .text pre {
    margin: 0;
}

.comment > .content {
    display: inline;
    float: left;
    width: calc(100% - 100px);
}

.comment > .status {
    display: inline;
    float: left;
    width: 50px;
}

.comment > .content > svg {
    height: 30px;
    margin: 7px;
    height: 22px;
    display: inline;
}

.comment > .content > .name {
    display: inline;
    float: left;
    height: 22px;
    margin: 7px;
}

.comment > .photo {
    float: left;
    display: inline;
    top: 0;
    left: 0;
    bottom: 0;
}

.comment > .photo img, 
.comment > .photo svg {
    padding: 7px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.comment > .content > .date {
    display: inline;
    float: left;
    color: hsla(211, 22%, 73%, 1);
    margin: 7px;
}

.comment > .content > .text {
    display: block;
    float: left;
    margin-left: 7px;
    font-size: 14px;
    width: 100%;
}

.comment {
    overflow: auto;
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
}

.comment:first-of-type {
    padding-top: 28px;
}

