#commentBox {
    width: 100%;
    height: 150px;
    background-color: transparent;
    font-size: 14px;
}

#commentBox > textarea {
    padding: 14px;
    margin: 14px;
    height: calc(100% - 40px);
    width: calc(100% - 28px);
    resize: none;
    border-radius: 4px;
    display: block;
    box-sizing: border-box;
}

#commentBox > .buttons > svg {
    height: 16px;
    padding-top: 4px;
    padding-left: 4px;
    opacity: 0.4;
}
#commentBox > .buttons > svg:hover { opacity: 1; }

#commentBox > .buttons {
    width: calc(100% - 28px);
    height: 26px;
    margin: 14px;
    display: block;
}

#commentBox > .buttons > button {
    height: 100%;
    margin: 0;
    box-sizing: border-box;
    display: inline-block;
    float: right;
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
}

#commentBox > #commentSubmissionButtons > button:first-of-type { margin-bottom: 6px; }
#commentBox > #commentSubmissionButtons > button:last-of-type { margin-top: 6px; }

#commentBox .text code,
.comment .text code * {
    font-family: "Courier New", Courier, monospace;
}

.comment .text pre {
    margin: 0;
}
