#commentBox {
    width: 100%;
    bottom: 0;
    position: absolute;
    height: 130px;
    background-color: hsla(204, 45%, 98%, 1);
    font-size: 14px;
}

#commentBox #commentPreview code {
    display: block;
    background-color: #EBF0F2;
    box-sizing: border-box;
    width: calc(100% - 20px);
    overflow-x: scroll;
    padding: 10px;
    margin: 10px;
    border-radius: 4px;
}

#commentBox #commentPreview p {
    margin: 0;
}

#commentBox > textarea,
#commentBox > #commentPreview {
    padding: 14px;
    margin: 20px;
    margin-bottom: 15px;
    height: calc(100% - 40px);
    width: calc(100% - 40px);
    resize: none;
    border-radius: 4px;
    box-sizing: border-box;
    float: left;
}

#commentBox > #commentPreview {
    overflow: scroll;
}

#commentBox > #commentPreview,
#commentBox.inProgress > textarea {
    width: calc(100% - 160px);
}

#commentBox > #commentSubmissionButtons {
    width: 100px;
    height: calc(100% - 40px);
    margin-top: 20px;
    margin-bottom: 15px;
    float: left;
    display: inline-block;
}

#commentBox > #commentSubmissionButtons > button {
    width: 100%;
    height: calc(50% - 6px);
    text-transform: uppercase;
    border: none;
    color: hsla(204, 45%, 98%, 1);
    border-radius: 4px;
    cursor: pointer;
    margin: 0;
}

#commentBox > #commentSubmissionButtons > button:first-of-type { margin-bottom: 6px; }
#commentBox > #commentSubmissionButtons > button:last-of-type { margin-top: 6px; }

#commentBox .text code,
.comment .text code * {
    font-family: "Courier New", Courier, monospace;
}

.comment .text pre {
    margin: 0;
}
