.comment .text > p {
    font-weight: 300;
    margin: 0;
}

.comment svg.commentType { padding-left: 4px; fill: none; }
.comment svg.commentType > text { opacity: 0; transition: opacity 500ms; }
.comment:hover svg.commentType > text { opacity: 1; }
.comment svg.commentType[data-notification] { fill: hsla(167, 48%, 49%, 1); }
.comment svg.commentType[data-alert] { fill: hsla(37, 87%, 61%, 1); }
.comment svg.commentType[data-warning] { fill: hsla(351, 48%, 54%, 1); }

.comment .text code {
    display: block;
    background-color: #EBF0F2;
    box-sizing: border-box;
    width: calc(100% - 20px);
    overflow-x: scroll;
    padding: 10px;
    margin: 10px;
    border-radius: 4px;
}

.comment .text code,
.comment .text code * {
    font-family: "Courier New", Courier, monospace;
}

.comment .text pre {
    margin: 0;
}

.comment > .content {
    display: inline;
    float: left;
    width: calc(100% - 40px);
}

.comment > .status {
    display: inline;
    float: left;
    width: 50px;
}

.comment > .content > .header > .name {
    font-weight: bold;
    display: inline;
    float: left;
    height: 16px;
    margin-left: 3px;
}

.comment > .photo {
    float: left;
    display: inline;
    top: 0;
    left: 0;
    bottom: 0;
    padding-right: 6px;
}

.comment > .photo img,
.comment > .photo svg {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.comment > .content > .header > .date {
    display: inline;
    float: right;
    color: hsla(211, 22%, 73%, 1);
    margin-right: 7px;
}

.comment > .content > .text {
    display: block;
    float: left;
    margin-left: 3px;
    width: calc(100% - 30px);
}

.comment {
    overflow: auto;
    padding: 10px 18px 10px 18px;
    font-size: 12px;
}

.comment:first-of-type {
    padding-top: 28px;
}

