tr.nomination > td.actionPanel > img {
    width: 18px;
    height: 18px;
    display: block;
    margin: 0 auto;
}

input[type=checkbox] {
    display: none;
}

.checkbox {
    height: 20px;
    cursor: pointer;
}

input[type=checkbox] + label {
    width: 20px;
    height: 20px;
    display: inline-block;
    background: url('../img/checkbox-unchecked.svg');
    background-size: contain;
    cursor: pointer;
}

td > input[type=checkbox] + label {
    display: block;
}

input[type=checkbox]:checked + label {
    background: url('../img/checkbox-checked.svg');
    background-size: contain;
}

.contentList {
    display: block;
    border-collapse: collapse;
    height: calc(100% - 44px);
    width: 100%;
    overflow: auto;
}

button > .loadingAnimation {
    height: 14px;
    width: 20px;
    fill: #F6F8FA;
}

table.contentList > tbody {
    display: table;
    overflow: auto;
    max-height: 100%;
    width: 100%;
}

table.contentList > tbody > tr {
    display: table-row;
    width: 100%;
    height: 80px;
    cursor: pointer;
    /*border: 1px solid hsla(165, 5%, 83%, 1);*/
}

table.contentList > tbody > tr .matchesHoverState {
    stroke: hsla(204, 45%, 98%, 1);
}

table.contentList > tbody > tr:hover .matchesHoverState {
    stroke: hsla(200, 30%, 96%, 1);
}

table.contentList > tbody > tr:hover {
    background-color: hsla(200, 30%, 96%, 1);
}

table.contentList > tbody > tr > td {
    padding-left: 10px;
    padding-right: 10px;
}

.statusPanel[data-okay] {
    background-color: hsla(166, 43%, 56%, 1);
}
.statusPanel[data-notification] {
    background-color: hsla(212, 22%, 43%, 1);
}
.statusPanel[data-alert] {
    background-color: hsla(37, 87%, 61%, 1);
}
.statusPanel[data-warning] {
    background-color: hsla(37, 87%, 61%, 1);
    background-color: hsla(351, 50%, 50%, 1);
}

table.contentList > tbody > tr > td.statusPanel {
    padding: 0;
    width: 8px;
}

table.contentList > tbody > tr > td:not(.statusPanel):first-of-type {
    padding-left: 20px;
}

table.contentList > tbody > tr > td:not(.statusPanel):last-of-type {
    padding-right: 20px;
}

tr.nomination > td.actionPanel,
tr.ticket > td.findTalentPanel,
tr.auction > td.findTalentPanel {
    width: 80px;
    font-size: 8px;
    text-align: center;
    color: hsla(180, 2%, 75%, 1);
    cursor: pointer;
}

tr.auction > td.talentOverviewPanel {
    width: 180px;
    padding-left: 10px;
    cursor: pointer;
}

tr.nomination > td.actionPanel svg,
tr.ticket > td.findTalentPanel svg,
tr.auction > td.findTalentPanel svg {
    cursor: pointer;
    height: 18px;
    display: block;
    margin: 0 auto;
    padding: 10px 10px 4px 10px;
}

tr.auction > td.talentOverviewPanel svg {
    cursor: pointer;
    height: 60px;
    display: block;
    margin: 0 auto;
    padding: 0;
}

tr.ticket > td.findTalentPanel:hover,
tr.auction > td.findTalentPanel:hover {
    color: hsla(167, 48%, 49%, 1);
}

.findTalentPanel:hover svg path {
    fill: hsla(167, 48%, 49%, 1);
}

.findTalentPanel.darken svg path {
    fill: hsla(167, 48%, 49%, 1);
}

.findTalentPanel.darken {
    color: hsla(167, 48%, 49%, 1);
}

.talentPanel {
    width: 150px;
    text-align: center;
    font-size: 14px;
}

#modalDialog > svg.loadingAnimation {
    height: 30px;
}

#modalDialog .ratingStars > svg, #modalDialog .ratingStars > span {
    display: inline-block;
    height: 15px;
    line-height: 15px;
    padding: 4px;
}

.scorePanel {
    width: 80px;
}

.talentScore {
    display: block;
    margin: 0 auto;
    width: 60px;
    height: 50px;
    border-radius: 6px;
    text-align: center;
    padding: 3px;
    color: #F6F8FA;
}

.talentScore > .score {
    font-size: 26px;
    padding-top:2px;
    display: block;
}

.talentScore > .text {
    font-size: 8px;
    display: block;
}

.projectGraph > .graphLabels {
    transition: opacity 500ms;
    opacity: 0;
    display: block;
    margin: 0 auto;
    width: 70%;
}

.projectGraph > .graphLabels > span {
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
}

.projectGraph:hover > .graphLabels {
    transition: opacity 500ms;
    opacity: 1;
}

.projectGraph span {
    display: block;
    text-align: center;
    font-size: 12px;
}
.projectGraph path.openTickets {
    stroke: #D5DBE3;
    stroke-width: 2;
    fill: none;
}

.projectGraph .openTickets {
    color: #D5DBE3;
    fill: #D5DBE3;
}

.projectGraph circle.openTickets {
    fill: #D5DBE3;
}

.projectGraph path.closedTickets {
    stroke: #5FC0AA;
    stroke-width: 2;
    fill: none;
}

.projectGraph .closedTickets {
    color: #5FC0AA;
    fill: #5FC0AA;
}

.projectGraph circle.closedTickets {
    fill: #5FC0AA;
}

.devBellCurve path.line {
    fill: none;
    stroke-width: 2px;
    stroke: #1C2D41;
}

.devBellCurve path.areaBorder {
    fill: none;
    stroke-width: 2px;
    stroke: hsla(167, 48%, 49%, 1);
}

.devBellCurve path.area {
    fill: hsla(167, 48%, 49%, 0.5);
    stroke: none;
}

.devBellCurve > svg,
.devBellCurve > input,
.devBellCurve > h3 {
    display: block;
    margin: 4px auto;
}

.devBellCurve text {
    opacity: 0;
    transition: 500ms opacity;
}

.devBellCurve:hover text {
    opacity: 1;
    transition: 500ms opacity;
}
svg.loadingAnimation rect {
    animation: bounceBars 1s linear infinite;
}

svg.loadingAnimation rect:nth-child(1) { animation-delay: 0.5s; }
svg.loadingAnimation rect:nth-child(2) { animation-delay: 0.25s; }
svg.loadingAnimation rect:nth-child(3) { animation-delay: 0.01s; }
svg.loadingAnimation rect:nth-child(4) { animation-delay: 0.25s; }
svg.loadingAnimation rect:nth-child(5) { animation-delay: 0.5s; }

@-webkit-keyframes bounceBars {
    0% { height: 120px; transform: translateY(0); }
    80% { height: 40px; transform: translateY(40px); }
    90% { height: 140px; transform: translateY(-10px); }
    100% { height: 120px; transform: translateY(0); }
}

.rotate {
    animation: rotate 800ms linear infinite;
}
@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

