tr.nomination > td.actionPanel > img {
    width: 18px;
    height: 18px;
    display: block;
    margin: 0 auto;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox] + label {
    width: 20px;
    height: 20px;
    display: block;
    background: url('../img/checkbox-unchecked.svg');
    background-size: contain;
    cursor: pointer;
}

input[type=checkbox]:checked + label {
    background: url('../img/checkbox-checked.svg');
    background-size: contain;
}

.ticketView, .auctionView, .contractView, .reviewView, .profileView, .projectView {
    position: relative;
    display: block;
    float: left;
    width: calc(100% - 200px);
    height: 100%;
}

table.contentList {
    display: block;
    border-collapse: collapse;
    height: calc(100% - 44px);
    width: 100%;
    overflow: auto;
}

table.contentList > tbody {
    display: table;
    overflow: auto;
    max-height: 100%;
    width: 100%;
}

table.contentList > tbody > tr {
    display: table-row;
    width: 100%;
    height: 80px;
    /*border: 1px solid hsla(165, 5%, 83%, 1);*/
}

table.contentList > tbody > tr:hover {
    background-color: hsla(200, 30%, 96%, 1);
}

table.contentList > tbody > tr > td {
    padding-left: 10px;
    padding-right: 10px;
}

table.contentList > tbody > tr > td.statusPanel {
    padding: 0;
    width: 8px;
}

table.contentList > tbody > tr > td.statusPanel {
    background-color: transparent;
}

table.contentList > tbody > tr > td.neutral {
    background-color: hsla(166, 43%, 56%, 1);
}

table.contentList > tbody > tr > td.notification {
    background-color: hsla(212, 22%, 43%, 1);
}

table.contentList > tbody > tr > td.needsResolution {
    background-color: hsla(37, 87%, 61%, 1);
}

table.contentList > tbody > tr > td.completed {
    background-color: hsla(166, 43%, 56%, 1);
}

table.contentList > tbody > tr > td.warning {
    background-color: hsla(351, 50%, 50%, 1);
}

tr.nomination > td.actionPanel,
tr.ticket > td.findTalentPanel {
    width: 80px;
    font-size: 8px;
    text-align: center;
    color: hsla(180, 2%, 75%, 1);
    cursor: pointer;
}

tr.nomination > td.actionPanel svg,
tr.ticket > td.findTalentPanel svg {
    cursor: pointer;
    height: 18px;
    display: block;
    margin: 0 auto;
    padding: 10px 10px 4px 10px;
}

tr.ticket > td.findTalentPanel:hover {
    color: hsla(167, 48%, 49%, 1);
}

.findTalentPanel:hover svg path {
    fill: hsla(167, 48%, 49%, 1);
}

.findTalentPanel.darken svg path {
    fill: hsla(167, 48%, 49%, 1);
}

.findTalentPanel.darken {
    color: hsla(167, 48%, 49%, 1);
}

.talentPanel {
    width: 150px;
    text-align: center;
    font-size: 14px;
}

.ratingStars {
    padding-top: 4px;
    display: inline-block;
}

.ratingStars.dynamic > img {
    cursor: pointer;
}

.ratingStars > img, .ratingStars > span {
    height: 10px;
    padding: 2px;
    font-size: 10px;
    color: #CFD9E6;
    vertical-align: top;
}

.ratingStars > span {
    width: 40px;
}

.modalView .ratingStars {
    padding-top: 10px;
}

#modalDialog .ratingStars > img, #modalDialog .ratingStars > span {
    display: inline-block;
    height: 15px;
    line-height: 15px;
    padding: 4px;
}

.scorePanel {
    width: 80px;
}

.talentScore {
    display: block;
    margin: 0 auto;
    width: 60px;
    height: 50px;
    border-radius: 6px;
    text-align: center;
    padding: 3px;
    color: #F6F8FA;
}

.talentScore > .score {
    font-size: 26px;
    padding-top:2px;
    display: block;
}

.talentScore > .text {
    font-size: 8px;
    display: block;
}

.profileView > .profileSettings, .projectView > .projectSettings {
    display: block;
    position: absolute;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.projectView .projectDetails {
    display: inline-block;
    float: left;
    padding-top: 20px;
}

.projectView .projectGraph svg text {
    transition: opacity 500ms;
    opacity: 0;
}

.projectView .projectGraph:hover svg text {
    transition: opacity 500ms;
    opacity: 1;
}

.projectGraph > .graphLabels {
    transition: opacity 500ms;
    opacity: 0;
    display: block;
    margin: 0 auto;
    width: 70%;
}

.projectGraph > .graphLabels > span {
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
}

.projectGraph:hover > .graphLabels {
    transition: opacity 500ms;
    opacity: 1;
}

.projectGraph span {
    display: block;
    text-align: center;
    font-size: 12px;
}
.projectGraph path.openTickets {
    stroke: #D5DBE3;
    stroke-width: 2;
    fill: none;
}

.projectGraph .openTickets {
    color: #D5DBE3;
    fill: #D5DBE3;
}

.projectGraph circle.openTickets {
    fill: #D5DBE3;
}

.projectGraph path.closedTickets {
    stroke: #5FC0AA;
    stroke-width: 2;
    fill: none;
}

.projectGraph .closedTickets {
    color: #5FC0AA;
    fill: #5FC0AA;
}

.projectGraph circle.closedTickets {
    fill: #5FC0AA;
}

.devBellCurve path.line {
    fill: none;
    stroke-width: 2px;
    stroke: #1C2D41;
}

.devBellCurve path.areaBorder {
    fill: none;
    stroke-width: 2px;
    stroke: hsla(167, 48%, 49%, 1);
}

.devBellCurve path.area {
    fill: hsla(167, 48%, 49%, 0.5);
    stroke: none;
}

.devBellCurve > svg,
.devBellCurve > input,
.devBellCurve > h3 {
    display: block;
    margin: 4px auto;
}

.devBellCurve text {
    opacity: 0;
    transition: 500ms opacity;
}

.devBellCurve:hover text {
    opacity: 1;
    transition: 500ms opacity;
}

.projectView .project {
    overflow: auto;
}

.projectView .projectDetails span {
    display: block;
    font-size: 32px;
}

.projectView .projectDetails span:first-child {
    transform: translateY(8px);
    font-size: 14px;
    padding-left: 1px;
    opacity: 0.5;
}

.projectView .projectDetails span:last-child {
    font-size: 10px;
    padding-left: 2px;
    color: hsla(351, 50%, 50%, 1);
    cursor: pointer;
}

.projectView .projectGraph {
    display: inline-block;
    float: left;
    padding-right: 20px;
}

.profileView input {
    text-align: left;
    height: 50px;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #BFC4CB;
    padding-top: 8px;
    background-color: transparent;
    display: block;
    margin: 14px auto;
    width: 360px;
}

.profileView input:focus {
    border-bottom: 1px solid #1C2D41;
    transition: border 500ms;
}

.profileView button {
    display: block;
    margin: 56px auto;
    width: 360px;
    height: 50px;
}

.profileView .profilePicture {
    display: block;
    margin: 4px auto;
    height: 70px;
    width: 70px;
    cursor: pointer;
}

.profileView h5, .projectView h5 {
    margin: 0 auto;
    text-align: center;
    font-size: 10px;
    opacity: 0.6;
    cursor: pointer;
}

.projectView .addNewProject {
    padding: 10px;
}

.projectView .addNewProject svg {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 5px;
    cursor: pointer;
}

