.contentView {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: calc(100% - 50px);
}

.mainView {
    height: calc(100% - 50px);
    position: absolute;
    bottom: 0;
    width: 100%;
}

.contentList {
    height: calc(100% - 64px);
    padding-bottom: 40px;
    box-sizing: border-box;
    width: auto;
}
