#detailsPanel > #mainInfo {
    display: inline-block;
    float: left;
    width: 55%;
    position: relative;
    height: 100%;
}

#detailsPanel > #mainInfo > span {
    display: block;
    text-align: left;
}

#detailsPanel > #mainInfo > span:last-of-type {
    opacity: 0.5;
    font-size: 14px;
}

#detailsPanel > #mainInfo > *:first-child {
    margin-top: 20px;
}

#detailsPanel > #mainInfo > span,
#detailsPanel > #mainInfo > button {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
}

#detailsPanel {
    overflow: auto;
    background-color: #546C8A;
    color: #F2F6F8;
    transition: height 250ms;
}
#detailsPanel.hidden { height: 0; }
#detailsPanel.visible { height: 150px; }

#detailsPanel > #technicalInfo {
    display: inline-block;
    float: left;
    width: 45%;
    margin-top: 20px;
}

#detailsPanel > #technicalInfo > .codeField {
    width: 100%;
    height: 30px;
}
