#developerProfileView h1 {
    font-size: 24px;
    display: block;
    margin: 0 auto;
    padding-top: 30px;
    text-align: center;
}

#developerProfileView .ratingStars {
    font-size: 24px;
    height: 20px;
    padding: 10px;
    display: block;
    margin: 0 auto;
}

#developerProfileView .skillsRadar {
    padding: 20px;
    display: block;
    margin: 0 auto;
}
