#developerProfileView > #developerHeader > h1 {
    font-size: 24px;
    padding-top: 20px;
    text-align: left;
    margin: 0;
}

#developerProfileView > #developerHeader > h5 {
    font-size: 10px;
    display: block;
    text-align: left;
    opacity: 0.5;
    margin: 0;
}

#developerProfileView > #developerHeader > .githubAccountTag {
    margin-top: 10px;
}

#developerProfileView .skillsRadarChart,
#developerProfileView > #developerHeader {
    height: 200px;
    width: 50%;
    float: left;
    box-sizing: border-box;
}

#developerProfileView > #developerHeader {
    padding-top: 50px;
    padding-left: 40px;
}

#developerProfileView .skillsRadarChart > svg {
    padding: 20px;
    float: right;
}

#developerProfileView .pastWork {
    padding-top: 40px;
    display: block;
    margin: 0 auto;
}

#developerProfileView .ratingStars {
    height: 20px;
}
