.listElement {
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    font-size: 10px;
    padding: 8px;
    cursor: default;
    height: 70px;
    position: relative;
}

.listElement > .sliding {
    transition: 300ms transform;
}
.listElement > .hidden {
    position: absolute;
    opacity: 0;
    left: 0;
    width: 40px;
    height: 100%;
    transition: 300ms opacity;
}
.listElement:hover > .hidden {
    opacity: 1;
}
.listElement:hover > .sliding {
    transform: translateX(40px);
}

.listElement:before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    height: 1px;
    width: calc(100% - 50px);
    border-bottom: 1px solid hsla(199, 28%, 92%, 1);
}

.listElement[data-selected] {
    background-color: #EDF2F7;
}

.listElement > div {
    display: inline-block;
    box-sizing: border-box;
    float: left;
    height: 100%;
    padding: 5px;
}

.listElement > div.icon { width: 40px; }
.listElement > div.mainInfo { width: calc(100% - 90px); }
.listElement > div.extraInfo { width: 50px; padding-left: 0; }

/*I don't understand why theres a nested div here...*/
.listElement > div.icon div {
    width: 100%;
    height: 100%;
}
.listElement > div.icon svg {
    width: 100%;
    height: 100%;
}

.listElement > div.mainInfo > *:last-child {
    opacity: 0.6;
}
.listElement > div.mainInfo > *:first-child {
    opacity: 1;
}

/*.listElement > div.mainInfo > *:first-child {*/
    /*height: 13px;*/
    /*line-height: 13px;*/
    /*font-weight: bold;*/
    /*white-space: nowrap;*/
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
    /*display: block;*/
/*}*/

.listElement > div.mainInfo > * {
    line-height: 13px;
    display: block;
}

.listElement > div.mainInfo > *:first-child {
    font-weight: bold;
}
.listElement > div.extraInfo > *:last-child {
    height: 13px;
    line-height: 13px;
    display: block;
    opacity: 0;
}
.listElement > div.extraInfo > *:first-child {
    height: 13px;
    line-height: 13px;
    display: block;
    opacity: 0;
}
.listElement:hover > div.extraInfo > *:last-child {
    opacity: 0.4;
}

.listElement > div.extraInfo > *:last-child,
.listElement > div.extraInfo > *:last-child > * { 
    box-sizing: border-box;
    height: 13px;
    line-height: 13px;
    float: right;
    fill: hsla(215, 41%, 29%, 1);
    color: hsla(215, 41%, 29%, 1);
}

.listElement > div.extraInfo > *:first-child {
    height: 13px;
    width: 100%;
    line-height: 13px;
    font-weight: bold;
    display: block;
    text-align: right;
    opacity: 1;
}

.listElement:hover > div.extraInfo > *:first-child {
    height: 13px;
    line-height: 13px;
    font-weight: bold;
    display: block;
    opacity: 1;
}
