.listView {
    float: left;
    display: inline-block;
    height: 100%;
    width: 33.4%;
}

.listView > .info > *:not(.sortOptions) {
    vertical-align: middle;
    display: inline;
    height: 20px;
    line-height: 20px;
    margin-left: 2px;
    margin-right: 2px;
}

.listView > .info > span:last-child {
    display: block;
    font-size: 10px;
    opacity: 0.5;
    cursor: default;
    height: 12px;
}

.listView > .info > span:last-child:hover {
    opacity: 1;
}

.listView > .info .dropdownMenu > .arrowUp {
    border-color: transparent transparent transparent;
}
.listView > .info > svg[data-selected] rect,
.listView > .info > svg:hover rect {
    fill: #DADEE6;
}

.listView > .listTitleBar {
    height: 50px;
}

.listView > .scrollable {
    height: calc(100% - 50px);
    overflow-y: auto;
}
