#mainHeader {
    color: #F5F7FA;
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: #1C2D41;
}

#mainHeader > svg {
    float: left;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

#mainHeader > #viewList {
    height: 100%;
    position: absolute; 
    left: 50%;
    transform: translateX(-50%);
}

#mainHeader > #viewList > * {
   opacity: 0.5;
   text-transform: uppercase;
   height: 100%;
   float: left;
   font-size: 14px;
   box-sizing: border-box;
   padding-top: 20px;
   margin-left: 14px;
   margin-right: 14px;
   cursor: pointer;
}

#mainHeader > #viewList > *[data-selected='true'],
#mainHeader > #viewList > *:hover {
   opacity: 1;
   border-bottom: 3px solid #40B89E;
}
