#mainHeader {
    color: #F5F7FA;
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: #1C2D41;
}

#mainHeader > svg {
    float: left;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

#mainHeader > #viewList {
    height: 100%;
    position: absolute; 
    left: 50%;
    transform: translateX(-50%);
}

#mainHeader > #viewList > * {
   opacity: 0.5;
   text-transform: uppercase;
   height: 100%;
   float: left;
   font-size: 14px;
   box-sizing: border-box;
   padding-top: 20px;
   margin-left: 14px;
   margin-right: 14px;
   cursor: pointer;
}

#mainHeader > #viewList > *[data-selected='true'],
#mainHeader > #viewList > *:hover {
   opacity: 1;
   border-bottom: 3px solid #40B89E;
}

#projectSelector {
    float: left;
    height: auto;
    overflow: auto;
}

#profileOptions {
    position: absolute;
    cursor: pointer;
    z-index: 999;
    right: 0;
    height: auto;
    overflow: auto;
}

#projectSelector .role,
#profileOptions .option {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    height: 50px;
}

#profileOptions > .dropdownMenu > .option {
    height: 30px;
    text-align: center;
    opacity: 0.7;
    line-height: 20px;
    font-size: 14px;
}

#profileOptions > #currentProfile > * {
    float: right;
    box-sizing: border-box;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    line-height: 20px;
}

#profileOptions > #currentProfile svg,
#profileOptions > #currentProfile img {
    height: 20px;
    width: 20px;
}

#projectSelector .role[data-selected='true'] > span:first-child,
#projectSelector > .dropdownMenu > .role:hover > span:first-child,
#profileOptions > .dropdownMenu > .option:hover {
    opacity: 1;
}

#projectSelector .role[data-selected='true'] > span:nth-child(2),
#projectSelector .role:hover > span:nth-child(2) {
    opacity: 0.75;
}

#projectSelector .role > span {
    display: block;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
}

#projectSelector .role > span:nth-child(2) {
    line-height: 10px;
    font-size: 10px;
    opacity: 0.4;
}

#projectSelector .role > span:first-child {
    padding-top: 4px;
    line-height: 20px;
    font-size: 16px;
    opacity: 0.6;
}

#projectSelector .role > span:only-child {
    padding-top: 0;
    line-height: 40px;
    text-align: center;
    width: 100%;
}

.arrowUp {
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    transform: translateY(-10px) translateX(-50%);
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #1C2D41; /*Actual color*/
}

