#modalView {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(213, 23%, 28%, 0.7);
    z-index: 9998;
}

#modalDialog {
    position: absolute;
    background-color: hsla(204, 45%, 98%, 1);
    padding: 25px;
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 4px;
    z-index: 9999;
    min-height: 80px;
    width: 500px;
    text-align: center;
}

#modalDialog input[type=text] {
    padding: 10px;
    font-size: 14px;
    height: 32px;
    width: 90%;
}

#modalDialog textarea {
    width: 90%;
    display: block;
    min-height: 100px;
}

#modalDialog h3 {
    font-size: 26px;
    padding: 0;
    margin: 0;
}

#modalDialog h4 {
    font-size: 14px;
    padding: 0;
    margin: 0;
    opacity: .6;
}

#modalDialog h5 {
    font-size: 11px;
    line-height: 14px;
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
    opacity: .6;
    cursor: default;
}

#modalDialog h5:hover {
    opacity: 1;
}

#modalDialog input[type=text],
#modalDialog input[type=number],
#modalDialog input[type=textarea],
#modalDialog button {
    box-shadow: none;
    margin-top: 8px;
    margin-bottom: 8px;
    display: block;
}

#modalDialog button {
    min-width: 120px;
    font-size: 12px;
    border-radius: 4px;
    padding: 10px 24px 10px 24px;
    margin: 8px auto;
}

#modalDialog #projectImportWrapper {
    margin: 20px;
}

#modalDialog table {
    text-align: left;
    margin: 0 auto;
}

#modalDialog #projectImportWrapper {
    max-height: 160px;
    overflow: scroll;
}

#modalDialog table td {
    padding-top: 6px;
    padding-bottom: 6px;
}

#modalDialog table td.project {
    font-size: 16px;
    line-height: 16px;
}

#modalDialog table td.checkbox {
    padding-right: 3px;
}

#modalDialog table td.organization {
    font-size: 12px;
    opacity: 0.35;
}

#modalDialog .infoOrInput {
    background-color: hsla(212, 22%, 33%, 1);
    color: hsla(210, 29%, 97%, 1);
    text-align: left;
    font-family: "Courier New", Courier, monospace;
    border-radius: 4px;
    padding: 12px;
    font-size: 14px;
    margin-top: 10px;
}

#modalDialog .cloneInstructions .codeField {
    width: 90%;
    height: 30px;
    transform: translateX(-20px);
}

#modalDialog > * {
    display: block;
    margin: 10px auto;
}

#modalDialog > *:first-child {
    margin-top: 0;
}

#modalDialog > *:last-child {
    margin-bottom: 0;
}

#modalDialog > .closeIcon,
#modalDialog > .helpIcon {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    height: 20px;
    width: 20px;
    cursor: pointer;
    padding: 8px;
}

#modalDialog > .helpIcon:hover circle { stroke: #1C2D41; }
#modalDialog > .helpIcon:hover text { fill: #1C2D41; }
#modalDialog > .closeIcon:hover path { fill: #1C2D41; }

#modalDialog > .helpIcon {
    left: auto;
    right: 0;
}
