#nothingHere > #content {
    top: 50%;
    left: 50%;
    width: 40%;
    position: absolute;
    transform: translateY(-80%) translateX(-50%);
}

#nothingHere > #content > * {
    display: block;
    margin: 10px auto;
    text-align: center;
}

#nothingHere > #content > h3 {
    font-size: 24px;
}

#nothingHere > #content > span {
    font-size: 14;
    opacity: 0.5;
}

#nothingHere > #content > button {
    font-size: 14px;
}

#nothingHere svg.desktop {
    position: absolute;
    top: 6%;
    left: 12%;
    width: 56%;
}

#nothingHere svg.keyboard {
    position: absolute;
    top: 60%;
    left: 10%;
    width: 54%;
}

#nothingHere svg.headphones {
    position: absolute;
    top: 50%;
    left: 67%;
    width: 25%;
}
