#profileInfo {
    float: right;
    height: auto;
    overflow-x: auto;
    cursor: default;
}

#profileInfo > .name {
    padding: 5px;
    box-sizing: border-box;
    height: 50px;
    display: inline-block;
    float: right;
    font-size: 16px;
    line-height: 40px;
}

#profileInfo .profilePictureContainer {
    float: right;
    height: 50px;
    width: 35px;
    box-sizing: border-box;
    padding: 10px;
    padding-left: 5px;
    padding-right: 0px;
} 

#profileInfo .profilePicture {
    height: 100%;
    width: 100%;
}

#profileInfo > .settings {
    float: right;
    height: 50px;
    width: 30px;
    box-sizing: border-box;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-right: 6px;
}

#profileInfo > .settings > g > circle {
    opacity: 0.4;
}

#profileInfo > .settings:hover > g > circle {
    opacity: 1;
    fill: #3ABA9F;
}

#profileInfo > .name > span {
    display: block;
    box-sizing: border-box;
    width: 100%;
}
