.sortOptions {
    display: block;
    overflow: auto;
    height: 20px;
    clear: both;
    position: relative;
    margin: 0 auto;
    position: absolute;
    cursor: pointer;
    z-index: 999;
    height: auto;
    overflow: auto;
    left: 50%;
    transform: translateX(-50%);
}

.sortOptions > * {
    display: inline;
    box-sizing: border-box;
}

.sortOptions > span.selected,
.sortOptions > span:hover {
    opacity: 1;
}

.sortOptions > svg {
    padding-top: 5px;
    padding-bottom: 5px;
    height: 20px;
    margin: 0;
    vertical-align: middle;
}

.sortOptions > .dropdownMenu {
    background-color: #DADEE6;
    padding: 10px;
    top: 20px;
    cursor: default;
}

.sortOptions > .dropdownMenu > .option {
    display: block;
    height: 18px;
    line-height: 18px;
    font-size: 14px;
    opacity: 0.5;
}

.sortOptions > .dropdownMenu > .option:hover {
    opacity: 1;
}
