.actionPanel .approveTalentIcon > svg:last-child { display: none; }
.actionPanel .approveTalentIcon > svg:first-child { display: block; }
.actionPanel:hover .approveTalentIcon > svg:first-child { display: none; }
.actionPanel:hover .approveTalentIcon > svg:last-child { display: block; }

