.talent.listElement > .hidden > svg {
    width: 20px;
    height: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
}

.talent.listElement > .hidden > svg:hover > g {
    fill: #40B89E; 
}

.talent.listElement:hover .profilePicture > .picture {
    transition: 300ms opacity;
}

.talent.listElement:hover .profilePicture > .picture {
   opacity: 0;
} 
