.rc-tooltip-inner {
    z-index: 9999;
    background-color: #F7FAFC;
    box-shadow: none;
}
.rc-tooltip-placement-right .rc-tooltip-arrow,
.rc-tooltip-placement-rightTop .rc-tooltip-arrow,
.rc-tooltip-placement-rightBottom .rc-tooltip-arrow {
    z-index: 9999;
    border-right-color: #F7FAFC;
}
.rc-tooltip-placement-left .rc-tooltip-arrow,
.rc-tooltip-placement-leftTop .rc-tooltip-arrow,
.rc-tooltip-placement-leftBottom .rc-tooltip-arrow {
    z-index: 9999;
    border-left-color: #F7FAFC;
}
.rc-tooltip-placement-bottom .rc-tooltip-arrow,
.rc-tooltip-placement-bottomLeft .rc-tooltip-arrow,
.rc-tooltip-placement-bottomRight .rc-tooltip-arrow {
    z-index: 9999;
    border-bottom-color: #F7FAFC;
    top: 1px;
    margin-left: -10px;
    border-width: 0 10px 10px;
}
.rc-tooltip-placement-top .rc-tooltip-arrow,
.rc-tooltip-placement-topLeft .rc-tooltip-arrow,
.rc-tooltip-placement-topRight .rc-tooltip-arrow {
    z-index: 9999;
    border-top-color: #F7FAFC;
}
